body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #0078d7;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

h1, h2 {
    margin: 5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

table th {
    background-color: #0078d7;
    color: rgb(22, 82, 212);
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
